@font-face {
  font-family: Lato;
  src: url("../assets/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: Lato-Light;
  src: url("../assets/Lato/Lato-Light.ttf");
}
@font-face {
  font-family: Lato-Bold;
  src: url("../assets/Lato/Lato-Bold.ttf");
}
@font-face {
  font-family: Merriweather;
  src: url("../assets/Merriweather/Merriweather-Regular.ttf");
}
@font-face {
  font-family: Merriweather-Light;
  src: url("../assets/Merriweather/Merriweather-Light.ttf");
}
@font-face {
  font-family: Merriweather-Bold;
  src: url("../assets/Merriweather/Merriweather-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 16px;
  font-family: Lato;
}

p {
  margin-bottom: 16px;
  font-family: Merriweather-Light;
}

a {
  font-family: Merriweather;
}

/* Main body of content */
.main {
  min-width: 100vw;
  min-height: 100%;
  background-color: lightgray;
  background-image: url("../assets/homepage-background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* The sidebar menu */
.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  /* The sidebar links */
  /* When you mouse over the navigation links, change their color */
  /* Position and style the close button (top right corner) */
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  padding: 20px;
  /* The button used to open the sidebar */
}
.top-bar .nav-toggle {
  width: 40%;
}
.top-bar .nav-toggle .openbtn {
  font-size: 1.2rem;
  font-family: Lato;
  cursor: pointer;
  background-color: #1571D4;
  color: rgb(243, 245, 247);
  border: 2px solid #053C5E;
  border-radius: 10px;
  padding: 10px 15px;
}
.top-bar .nav-toggle .openbtn:hover {
  background-color: #053C5E;
}
.top-bar .name {
  width: 15%;
  color: rgb(243, 245, 247);
}
.top-bar .name h1 {
  text-align: center;
  margin-bottom: 0px;
}
.top-bar .lookup {
  width: 40%;
}
.top-bar .lookup input[type=text] {
  float: right;
  padding: 10px 15px;
  font-size: 1.2rem;
  border: 2px solid #053C5E;
  border-radius: 10px 0px 0px 10px;
}
.top-bar .lookup input[type=submit] {
  float: right;
  font-size: 1.2rem;
  font-family: Lato;
  cursor: pointer;
  background-color: #1571D4;
  color: rgb(243, 245, 247);
  border: 2px solid #053C5E;
  border-radius: 0px 10px 10px 0px;
  padding: 10px 15px;
}

.current {
  margin: 0 auto;
  width: 80%;
  min-height: 20vh;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(243, 245, 247);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(243, 245, 247);
}
.current .split-1 {
  height: 18vh;
  width: 35%;
}
.current .split-1 p {
  margin-bottom: 5px;
}
.current .split-1 h2 {
  margin-bottom: 5px;
}
.current .split-1 .present-details {
  display: flex;
  align-items: center;
}
.current .split-1 .present-details .current-weather-img img {
  height: 40px;
  margin-right: 5px;
}
.current .split-1 .present-details h3 {
  font-family: Lato-Light;
  margin-right: 15px;
}
.current .split-1 .present-details .feels-like {
  height: 40px;
  font-family: Lato;
  font-size: 0.8rem;
  margin-bottom: 2px;
}
.current .split-2 {
  height: 18vh;
  width: 60%;
}
.current .split-2 .last-updated {
  font-family: Lato-Light;
  font-size: x-small;
  text-align: right;
  margin-bottom: 5px;
}

.future {
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0px;
}
.future .day {
  height: 100%;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #fff;
  border-radius: 20px;
}

/*# sourceMappingURL=styles.css.map */
