.current{
    margin: 0 auto;
    width: 95%;
    min-height: 20vh;
    background-color: $greying;
    border: 2px solid $white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: $white;

    .split-1{
        height: 18vh;
        width: 35%;
        p{
            margin-bottom: 5px;
        }

        h2{
            margin-bottom: 5px;
        }

        .present-details{
            display: flex;
            align-items: center;

            .current-weather-img img{
                height: 40px;
                margin-right: 5px;
            }
            h3{
                font-family: Lato-Light;
                margin-right: 15px;
            }
            .feels-like{
                height: 40px;
                font-family: Lato;
                font-size: 0.8rem;
                margin-bottom: 2px;
            }
        }
        
        .addtl-present{
            display: flex;
            align-items: center;           
            .column{
                margin-right: 10px;
                display: flex;
                flex-direction: column;
                font-size: 1rem;
            }
        }
    }

    .split-2{
        height: 18vh;
        width: 60%;
        
        .row{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 5px;
            
            .last-updated{
                font-family: Lato-Light;
                font-size: x-small;
                text-align: right;
                margin-bottom: 0px;
            }
        }

        .hourly{
            width: 100%;
            height: 65%;
            display: flex;
            align-items: flex-start;
            justify-content: space-evenly;
            
            .hour{
                width: 22%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                img{
                    height: 50px;
                }
                p{
                    font-size: .8rem;
                    margin-bottom: 0px;
                }
            }
        }
        .sun-facts{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

@media screen and (max-width: 950px){

    .current{
        width: 90vw;
        min-height: 400px;
        display: flex;
        flex-direction: column;

        .split-1{
            padding: 20px;
            min-height: 200px;
            margin-bottom: 10px;
            width: 100%;

            .present-details{
                height: max-content;
            }
        }
        .split-2{
            height: max-content;
            padding: 20px;
            width: 100%;
            flex-direction: column;
            .row{
                flex-direction: column;
            }
            .hourly{
                min-height: 40%;
                flex-wrap: wrap;
                .hour{
                    height: max-content;
                }
            }
        }
    }

}

@media screen and (max-width: 375px){
    .current{
        .split-1{
            .addtl-present{
                .column{
                    min-height: 100px;
                }
            }
        }
        .split-2{
            .sun-facts{
                flex-wrap: wrap;
            }
            .hourly{
                .hour{
                    width: 50%;
                }
            }
        }
    }
}